# foreigns = srcfield1,srcfield2:tablename:dstfield1,dstfield2|...
# uniques = field1,field2|field3|...
# primary = field1,field2,...
# fields = [+/-]field1,field2,...
# datalimit = 1000
# 
# 注意：foreigns要求不能有循环引用关系

[__extra__]
# 支持两种类型：mysql、pgsql
sqltype = pgsql
sqldir = __sql__
addbatchfile = __batch__.sql
delbatchfile = __delete__.sql
ignoretables = ti_audio_cn_bak,ti_city_en,ti_scenic_en,ti_ticket_ticket_iris,ti_food_meta,ti_hotel_brand,ti_hotel_cache,ti_hotel_creditcard,ti_hotel_drr_rule,ti_hotel_facility,ti_hotel_geo,ti_hotel_gift,ti_hotel_guarantee_rule

[ti_article_cn]
fields = -keywords,directory
primary = _id
foreigns = ref.rid:ti_city_cn:_id|ref.rid:ti_scenic_cn:_id

[ti_attachment_cn]
foreigns = order_id:ti_order_cn:_id

[ti_audio_cn]
fields = -exref
foreigns = ref.rid:ti_scenic_cn:_id|ref.rid:ti_live_cn:_id

[ti_bestspot_cn]
foreigns = ref.rid:ti_scenic_cn:_id

[ti_city_cn]
fields = -extend,video.play_set

[ti_device_cn]
foreigns = manufacturer.rid:ti_manufacturer_cn:_id

[ti_evaluation_cn]
foreigns = merchant_id:ti_merchant_cn:_id

[ti_food_business_info]
fields = -categories,regions,photo_urls,s_photo_urls,deals,coupons,ugc_abstract
uniques = business_id
foreigns = city_id:ti_city_cn:_id

[ti_food_ugc_info]
fields = -photo_urls
foreigns = business_id:ti_food_business_info:business_id

[ti_global_city]
fields = -airport

[ti_guide_cn]
fields = -lang
foreigns = city_id:ti_city_cn:_id

[ti_hotel_detail]
primary = hotel_id
fields = -rooms,images

[ti_hotel_rateplan]
primary = hotel_id,hotel_code,room_id,room_type_id,rate_plan_id
fields = -customer_levels
foreigns = hotel_id:ti_hotel_detail:hotel_id

[ti_hotel_inventory]
primary = hotel_id,hotel_code,room_type_id,date
foreigns = hotel_id:ti_hotel_detail:hotel_id
datalimit = 50000

[ti_hotel_rate]
primary = hotel_id,hotel_code,room_type_id,rate_plan_id,date
foreigns = hotel_id:ti_hotel_detail:hotel_id
datalimit = 50000

[ti_hotel_booking_rule]
primary = hotel_id,hotel_code,room_id,room_type_id,booking_rule_id
foreigns = hotel_id,hotel_code,room_id,room_type_id:ti_hotel_rateplan:hotel_id,hotel_code,room_id,room_type_id

[ti_hotel_prepay_rule]
primary = hotel_id,hotel_code,room_id,room_type_id,rate_plan_id,prepay_rule_id
foreigns = hotel_id,hotel_code,room_id,room_type_id,rate_plan_id:ti_hotel_rateplan:hotel_id,hotel_code,room_id,room_type_id,rate_plan_id
datalimit = 50000

[ti_hotel_value_add]
primary = hotel_id,hotel_code,room_id,room_type_id,rate_plan_id,value_add_id
foreigns = hotel_id,hotel_code,room_id,room_type_id,rate_plan_id:ti_hotel_rateplan:hotel_id,hotel_code,room_id,room_type_id,rate_plan_id
datalimit = 50000

[ti_image_cn]
fields = -exref
foreigns = ref.rid:ti_city_cn:_id|ref.rid:ti_scenic_cn:_id

[ti_interface_permission]
fields = -read_only,writable_only,num_search,text_search,class_search,create_only

[ti_lineinventory_cn]
foreigns = line_id:ti_travelline_cn:_id

[ti_live_cn]
fields = -play
foreigns = city_id:ti_city_cn:_id|scenic_id:ti_scenic_cn:_id|playlist_id:ti_playlist_cn:_id

[ti_music_cn]
fields = -play_set

[ti_multi_cn]
foreigns = uid:ti_union_cn:_id

[ti_order_cn]
fields = -respondent
foreigns = complainant.uid:ti_union_cn:_id

[ti_playlist_cn]
foreigns = list.0:ti_music_cn:_id|list.1:ti_music_cn:_id|list.2:ti_music_cn:_id

[ti_remark_cn]
foreigns = ref.rid:ti_travel_cn:_id|uid:ti_union_cn:_id

[ti_reply_cn]
fields = -supervisor
foreigns = order_id:ti_order_cn:_id

[ti_routeplan_cn]
fields = -reasons,scenic_sets
foreigns = city_id:ti_city_cn:_id

[ti_scenic_cn]
fields = -labels,self_ticket,ticket,all_ticket,best_spot,video.play_set
foreigns = city_id:ti_city_cn:_id

[ti_selfticket_cn]
fields = -resource_list
uniques = ticket_id
foreigns = card_id:ti_scenic_cn:_id

[ti_snapshot_cn]
foreigns = live_id:ti_live_cn:_id

[ti_ticket_calendar]
foreigns = ticket_id:ti_ticket_ticket:ticket_id

[ti_ticket_scenic]
fields = -product_extend_info,display_tag,description,ticket_id
uniques = scenic_id

[ti_ticket_scenic_map]
foreigns = _id:ti_scenic_cn:_id|scenic_map.0.scenic_id:ti_ticket_scenic:scenic_id

[ti_ticket_ticket]
fields = -ticket_extend_info,resource_list,display_tag
uniques = ticket_id
foreigns = scenic_id:ti_ticket_scenic:scenic_id|card_id:ti_scenic_cn:_id

[ti_ticketinventory_cn]
foreigns = ticket_id:ti_selfticket_cn:ticket_id

[ti_toilet_toilet]
fields = -male,female,third,unisex,image,tags
foreigns = city_id:ti_city_cn:_id|scenic_id:ti_scenic_cn:_id|devid:ti_device_cn:_id

[ti_travel_cn]
fields = -contact,managers
foreigns = city_id:ti_city_cn:_id

[ti_travelagency_cn]
fields = -contact

[ti_travelline_cn]
fields = -tags,items,dest_city,group_times,spec_price,detail
foreigns = dept_city:ti_city_cn:_id

[ti_user_permissions]
foreigns = app_id:ti_user_user:app_id

[ti_user_token]
fields = -tokens
foreigns = app_id:ti_user_user:app_id

[ti_user_user]
uniques = app_id

[ti_video_cn]
fields = -play_set,keywords
foreigns = city_id:ti_city_cn:_id|scenic_id:ti_scenic_cn:_id
